Create yer posts ere

<form action = '/create_post' method ='post'>
  Title:<input type ="text" name="title"> <br>
  Content:
  <textarea name="content"  rows="4" cols="50">
  </textarea>
  <br>
  <label for="post_tags">Tags:</label>
  <input id="post_tags" name="tags">
  <br>
  <input type ="submit" value="Confirm post">
  <br>
</form>


