<div class="container">

  <h1 style="font-family:verdana">Welcome to A&F's Super-Duper Bada$$ Blog</h1>
  <p style="color: #800000">Get ready to have your mind blowwwwwwn!!</p>

<form action='/posts/all' method='get'>
<input type='submit' value='See all my awesome posts'>
</form>

<br>

<a href = '/create_post'>Create your new posts here</a>

</div>

